.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  padding: 20px;
  background-color: gray;
  border-radius: 6px;

  @media screen and (max-width: 950px) {
    width: 400px;
  }

  @media screen and (max-width: 650px) {
    width: 360px;
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  background-color: white;
  border-radius: 4px;

  input {
    width: 100%;
  }

  .input::placeholder {
    color: gray;
  }

  button {
    color: gray;
    padding: 0px 5px;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
  }
}

.sortPage {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;

  @media screen and (max-width: 650px) {
    width: 90%;
  }

  .sort {
    padding: 4px 2px;
    background-color: white;
  }
}
