.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 300px;
  padding: 10px;
  border: 1px solid gray;

  .date {
    font-size: 14px;
    color: gray;
  }

  .title {
    margin-top: 10px;
  }

  button {
    align-self: flex-end;
    font-size: 14px;
    padding: 3px 5px;
    background-color: bisque;
  }
}
