.home {
  width: 1170px;
  margin: 0 auto;
  padding: 40px;
}

.title {
  font-size: 40px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.titleFilterWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;

  .title {
    font-size: 30px;
  }
}

.nothingFound {
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
  color: red;
}

.pageList {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 10px;
}

.pageItem {
  border: 1px solid black;
  padding: 2px 6px;
  cursor: pointer;

  &:active {
    background-color: gray;
  }
}
