.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 30px;
  background-color: black;
}

.link {
  font-size: 20px;
  color: white;

  &:hover {
    text-decoration: underline;
  }
}
